html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.time-background {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.time-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:fixed;
  inset: 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}